# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vscode
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.swp
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
/config/*.json
/config/*.toml
/src/debug
/bin/
/appdata/*/
/src/test/config/*.json
/src/test/config/*.toml
.directory
node_modules

# /src/vendor/*/*
!/src/vendor/modules/*
src/__debug_bin
src/__debug*
