<el-dialog title="创建游戏" :visible.sync="gameCreateFormVisible">
    <div v-if="createFail">
            <el-alert v-for="err in createFail" :title="err.Msg" type="error" show-icon> </el-alert>
        
    </div>
        <el-form :model="gameCreateForm">
                <el-form-item label="名称" label-width="80">
                        <el-input v-model="gameCreateForm.ID" autocomplete="off"></el-input>
                </el-form-item>                    
          <el-form-item label="网址" label-width="80">
            <el-input v-model="gameCreateForm.Host" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="端口" label-width="80">
                <el-input v-model="gameCreateForm.Port" autocomplete="off"></el-input>
              </el-form-item>
          <el-form-item label="字符编码" label-width="80">
            <el-select v-model="gameCreateForm.Charset" placeholder="请选字符编码">
              <el-option label="GBK" value="gbk"></el-option>
              <el-option label="UTF8" value="utf8"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="gameCreateFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="onButton('createGameSubmit')">确 定</el-button>
        </div>
      </el-dialog>              