<el-dialog width="80%"  :fullscreen="true" :title="'创建'+(byuser?'用户':'脚本')+'计时器'" :visible.sync="timerCreateFormVisible">
    <div v-if="createFail">
            <el-alert v-for="err in createFail" :title="err.Msg" type="error" show-icon> </el-alert>
        
    </div> 
        <el-form :model="timerCreateForm" label-width="120px">
            <el-form-item :label="timerCreateForm.AtTime?'触发时间':'触发间隔'" >
            <el-row>
                小时    <el-input-number v-model="timerCreateForm.Hour" :min="0"  label="小时"></el-input-number>
                分钟    <el-input-number v-model="timerCreateForm.Minute" :min="0"  label="分钟"></el-input-number>
                秒    <el-input-number v-model="timerCreateForm.Second" :min="0"  label="小时"></el-input-number>
            </el-row>
        </el-form-item>
                <el-form-item label="名称" ><el-input v-model="timerCreateForm.Name"></el-input></el-form-item>
                <el-form-item label="发送到" >
                    <el-select v-model="timerCreateForm.SendTo" placeholder="请选择">
                        <el-option
                          v-for="(label,index) in sendto"
                          :key="index"
                          :label="index+'.'+label"
                          :value="index">
                        </el-option>
                      </el-select>
                    
                </el-form-item>
            <el-form-item label="发送" >
                <el-input
                type="textarea"
                :autosize="{ minRows: 4}"
                placeholder="请输入内容"
                v-model="timerCreateForm.Send">
              </el-input>
                          </el-form-item>
                <el-form-item label="调用脚本函数" ><el-input v-model="timerCreateForm.Script"></el-input></el-form-item>
                <el-form-item label="分组名" ><el-input v-model="timerCreateForm.Group" ></el-input></el-form-item>
                <el-form-item v-if="timerCreateForm.SendTo==9"label="变量名" ><el-input v-model="timerCreateForm.Variable" ></el-input></el-form-item>

                <el-form-item label="选项" >
                    <div>
                    <el-row><el-checkbox v-model="timerCreateForm.AtTime">具体时分秒</el-checkbox></el-row>
                    <el-row><el-checkbox v-model="timerCreateForm.Enabled">启用</el-checkbox></el-row>
                    <el-row><el-checkbox v-model="timerCreateForm.ActionWhenDisconnectd">离线可用</el-checkbox></el-row>
                    
                    <el-row><el-checkbox v-model="timerCreateForm.OneShot">一次性</el-checkbox></el-row>
                    <el-row><el-checkbox v-model="timerCreateForm.Temporary">临时</el-checkbox></el-row>
                    <el-row><el-checkbox v-model="timerCreateForm.OmitFromOutput">不出现在输出</el-checkbox></el-row>
                    <el-row><el-checkbox v-model="timerCreateForm.OmitFromLog">不出现在日志</el-checkbox></el-row>
                </div>
                </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="timerCreateFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="onButton('createTimerSubmit')">确 定</el-button>
        </div>
      </el-dialog>              