<el-drawer v-if="userinputDatagrid" :title="userinputDatagrid.Data.Title" :visible.sync="userinputDatagridVisible" size="80%"
  direction="btt" :close="onUserinputDatagridClose">

  <div id="userinput-datagrid-body">
    <span>{{userinputDatagrid.Data.Intro}}</span>
    <div class="toolbar">
      <el-button-group>
    <el-button :disabled="!userinputDatagrid.Data.OnFilter" size="mini" icon="el-icon-search" @click="onUserinputDatagridFilter">{{userinputDatagrid.Data.Filter}}</el-button>
    <el-button :disabled="!userinputDatagrid.Data.OnCreate" size="mini" type="primary" icon="el-icon-circle-plus-outline" @click="onUserinputDatagridCreate"></el-button>

  </el-button-group>
  </div>
      <el-table
        :data="userinputDatagrid.Data.Items"
        style="width: 100%">
        <el-table-column label="数据" prop="Value">
        </el-table-column>
        <el-table-column label="操作" width="240px">
          <template slot-scope="scope">
            <el-button-group>
            <el-button :disabled="!userinputDatagrid.Data.OnView" size="mini" type="success" icon="el-icon-view" @click="handleUserinputDatagridView(scope.$index, scope.row)"></el-button>
            <el-button :disabled="!userinputDatagrid.Data.OnUpdate" size="mini" type="warning" class="el-icon-edit" @click="handleUserinputDatagridUpdate(scope.$index, scope.row)"></el-button>
            <el-button :disabled="!userinputDatagrid.Data.OnDelete" size="mini" type="danger" icon="el-icon-delete" @click="handleUserinputDatagridDelete(scope.$index, scope.row)"></el-button>
          </el-button-group>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
      v-if="userinputDatagrid.Data.OnPage && userinputDatagrid.Data.MaxPage>1"
      layout="prev, pager, next"
      @current-change="onUserinputDatagridPage"
      :current-page="userinputDatagrid.Data.Page"
      :page-count="userinputDatagrid.Data.MaxPage">
    </el-pagination>  
    </div>

</el-drawer>