.words.underlined{text-decoration: underline;}

.words .Black{color:rgb(0,0,0)}
.words .Red{color:rgb(127,0,0)}
.words .Green{color:rgb(0,147,0)}
.words .Yellow{color:rgb(252,127,0)}
.words .Blue{color:rgb(0,0,127)}
.words .Magenta{color:rgb(156,0,156)}
.words .Cyan{color:rgb(0,147,147)}
.words .White{color:rgb(210,210,210)}
.words .Bright-Black{color:rgb(127,127,127)}
.words .Bright-Red{color:rgb(255,0,0)}
.words .Bright-Green{color:rgb(0,252,0)}
.words .Bright-Yellow{color:rgb(255,255,0)}
.words .Bright-Blue{color:rgb(0,0,252)}
.words .Bright-Magenta{color:rgb(255,0,255)}
.words .Bright-Cyan{color:rgb(0,255,255)}
.words .Bright-White{color:rgb(255,255,255)}
.words .BG-Black{background:rgb(0,0,0)}
.words .BG-Red{background:rgb(127,0,0)}
.words .BG-Green{background:rgb(0,147,0)}
.words .BG-Yellow{background:rgb(252,127,0)}
.words .BG-Blue{background:rgb(0,0,127)}
.words .BG-Magenta{background:rgb(156,0,156)}
.words .BG-Cyan{background:rgb(0,147,147)}
.words .BG-White{background:rgb(210,210,210)}
.words .BG-Bright-Black{background:rgb(127,127,127)}
.words .BG-Bright-Red{background:rgb(255,0,0)}
.words .BG-Bright-Green{background:rgb(0,252,0)}
.words .BG-Bright-Yellow{background:rgb(255,255,0)}
.words .BG-Bright-Blue{background:rgb(0,0,252)}
.words .BG-Bright-Magenta{background:rgb(255,0,255)}
.words .BG-Bright-Cyan{background:rgb(0,255,255)}
.words .BG-Bright-White{background:rgb(255,255,255)}

.words .inverse.BG-{color:rgb(0,0,0)}
.words .inverse.BG-Black{color:rgb(0,0,0)}
.words .inverse.BG-Red{color:rgb(127,0,0)}
.words .inverse.BG-Green{color:rgb(0,147,0)}
.words .inverse.BG-Yellow{color:rgb(252,127,0)}
.words .inverse.BG-Blue{color:rgb(0,0,127)}
.words .inverse.BG-Magenta{color:rgb(156,0,156)}
.words .inverse.BG-Cyan{color:rgb(0,147,147)}
.words .inverse.BG-White{color:rgb(210,210,210)}
.words .inverse.BG-Bright-Black{color:rgb(127,127,127)}
.words .inverse.BG-Bright-Red{color:rgb(255,0,0)}
.words .inverse.BG-Bright-Green{color:rgb(0,252,0)}
.words .inverse.BG-Bright-Yellow{color:rgb(255,255,0)}
.words .inverse.BG-Bright-Blue{color:rgb(0,0,252)}
.words .inverse.BG-Bright-Magenta{color:rgb(255,0,255)}
.words .inverse.BG-Bright-Cyan{color:rgb(0,255,255)}
.words .inverse.BG-Bright-White{color:rgb(255,255,255)}
.words .inverse.Black{background:rgb(0,0,0)}
.words .inverse.Red{background:rgb(127,0,0)}
.words .inverse.Green{background:rgb(0,147,0)}
.words .inverse.Yellow{background:rgb(252,127,0)}
.words .inverse.Blue{background:rgb(0,0,127)}
.words .inverse.Magenta{background:rgb(156,0,156)}
.words .inverse.Cyan{background:rgb(0,147,147)}
.words .inverse.White{background:rgb(210,210,210)}
.words .inverse.Bright-Black{background:rgb(127,127,127)}
.words .inverse.Bright-Red{background:rgb(255,0,0)}
.words .inverse.Bright-Green{background:rgb(0,252,0)}
.words .inverse.Bright-Yellow{background:rgb(255,255,0)}
.words .inverse.Bright-Blue{background:rgb(0,0,252)}
.words .inverse.Bright-Magenta{background:rgb(255,0,255)}
.words .inverse.Bright-Cyan{background:rgb(0,255,255)}
.words .inverse.Bright-White{background:rgb(255,255,255)}

.words .bold{font-weight: bold}
.words .underlined{text-decoration: underline;}
.words.echo{color: cyan;font-style:italic}
.words.echo::before{content:"↣";color:teal}
.words.system{color: red;white-space: pre-wrap}
.words.system::before{content:"⯳";color:purple}

.words.localbcin,.words.globalbcin,
.words.localbcout,.words.globalbcout,
.words.request,.words.response{color:rgb(127,127,127)}

.words.localbcin::before,.words.globalbcin::before,
.words.localbcout::before,.words.globalbcout::before,
.words.request::before,.words.response::before{color:rgb(127,127,127)}
.words.localbcin::before{content:"☎本地广播"}
.words.globalbcin::before{content:"☎全局广播"}
.words.localbcout::before{content:"☎本地广播出"}
.words.globalbcout::before{content:"☎全局广播出"}
.words.request::before{content:"☎请求"}
.words.response::before{content:"☎响应"}

.words.print{color:mediumspringgreen;    white-space: pre-wrap;word-break: break-all;text-align: justify;}
.words.print::before{content:"↢";color:green;padding-left: 0.5em}
.advancemode #alllines .has-trigger::after{content:"⚙" ;color: rgb(0,255,255);padding-left: 0.5em}
.advancemode #alllines .creator-type-trigger::after{content:"⚙" ;color:rgb(255,255,0);padding-left: 0.5em}
.advancemode #alllines .creator-type-timer::after{content:"⏲" ;color:rgb(255,255,0);padding-left: 0.5em}
.advancemode #alllines .creator-type-alias::after{content:"⌨" ;color:rgb(255,255,0);padding-left: 0.5em}
.advancemode #alllines .creator-type-system::after{content:"⏻" ;color:rgb(255,255,0);padding-left: 0.5em}
.advancemode #alllines .creator-type-run::after{content:"⏯" ;color:rgb(255,255,0);padding-left: 0.5em}

#visualPrompt .text{
    background-color: black;
    color:white
}

@keyframes blinking {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blinking{
    animation: blinking 1200ms infinite;

}

#output{width:1120px;height:1200px}
#prompt-output{width:1120px;height:20px}

#visualPrompt-alllines{background: black;}