
body{text-size-adjust: none;background: black;color:white;font-family: monospace;margin:0;padding:0;visibility: hidden;overflow-y: hidden;}
#world{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
ul,li{padding:0;margin:0;list-style: none}
ul#lines,ul#alllines{white-space: pre;font-family: monospace;}
ul#alllines{background: black;padding:0;margin:0;color:white}
ul#lines li,ul#alllines li{max-width: 60em;overflow: hidden;}
ul#lines{padding-bottom: 60px;margin-bottom:-32px;padding-top: 110px;padding-left:0;}
#footer{position: fixed;bottom:0;height: 32px;left:0;width:100%;background:black}
#user-input{height: 32px;padding-left: 8em;padding-right:8em;position: relative;}
#user-input .el-input-group__prepend,#user-input .el-input-group__append{background: black}
#user-input span{height:32px;line-height:32px}
#user-input .el-input__inner{background: black;color:white;border-bottom: none}
#top{position: fixed;top:0;left:0;width: 100%;height:108px;background: white;min-width:1024px}
#top .el-tabs__header{margin:0}
#buttons{padding:4px}
.el-tooltip__popper{color:black}
#current{z-index: 1;position:relative;font-weight:  bold;line-height: 32px;float: left;width:7em;margin-right:-8em;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:left;text-decoration: underline;padding: 0 0.5em 0 0.5em;background: black}
#current:hover{width: 100%;margin-right: -100%}
#main-button{padding-right: 2em}
#tabs{height:43px}
#no-clients{color:black;font-weight: bold;line-height:43px;text-indent: 0.5em}
#triggers .el-table .cell{color:#333333}
.el-form .el-switch{height:40px;line-height: 40px}
#world{color:#303133}
#userinput-list-body{color:#303133;padding:0 2em}
#userinput-datagrid-body{color:#303133;padding:0 2em}
#userinput-datagrid-body .toolbar{padding-top:1em}
#userinput-datagrid-body .el-table__row .cell{white-space: nowrap;}
.el-message-box.update-required .el-message-box__content{
    white-space: pre-line;
}
#script-intro{
    white-space: pre-wrap;
}
.script-introe{
    white-space: pre-wrap;
    color:#333333;
}
.update-comment textarea{
    height:8em;
}
.param-comment{
    color:rgb(19, 206, 102)
}
@media (max-width: 600px) {
    #doalllines,
#dootpions,
#doscript,
#dousertriggers,
#dousertimers,
#douseraliases,
#advancebuttons,
#dolock,
#dounlock
{display: none;}
#about-button{
    display: none;
}
#user-input{
    padding-right: 0;
}
#top{
    min-width: 600px
}
}
html body .el-table .game-list-running{
    background-color:#f0f9eb
}
html body .el-table .game-list-not-running{
    background-color: #fbc4c4
}

#switchstatus .connected{
    color:#67C23A
}
#switchstatus .disconnected{
    color:#E6A23C;
}
#switchstatus{
    position: absolute;
    right:0;
    top:0;
    background: white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.userinput-list-mutli-footer{
    margin-top: 0.5em;
    text-align: right;
}

#visualPrompt .media.landscape .image img{
    width: 90%;
    display: block;
    margin:auto;
    height: auto;
    max-height: 400px;
}
#visualPrompt .media.portrait .image img{
    width: auto;
    display: block;
    margin:auto;
    height: 500px;
    max-width: 90%;
}
#visualPrompt .intro{
line-height: 1.5em;
    padding: 0.5em;
    color: #333333;
    font-size: 16px;
}